/* VacancyInfo.module.css */

.fullscreenOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    /*background-color: #000000;*/
    overflow: hidden;
}

.fullscreenContent {
    display: grid;
    align-items: center;
    justify-items: center;
    /*align-items: start;*/
    width: 90%;
    height: 95%;
    border-radius: 28px;
    /*background: linear-gradient(to bottom, rgba(104, 251, 210), rgba(177, 255, 233));*/
    background-color: #1D1F23;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    /*padding: 2rem 0.5rem;*/
    border: 1px solid rgba(255, 255, 255, 0.16);
}
.contentWrapper{
    /*border: 1px solid red;*/
    width: 95%;
    height: 98%;
}
.closeButton{
    position: absolute;
    height: 2rem;
    width: 2.5rem;
    top: 0;
    right: 0;
    background-color: #ff4b4b;
    border-radius: 0 20px 0 20px;
    display: grid;
    text-align: center;
    align-items: center;
    justify-self: right;
}
.vacancyList{
    display: grid;
    gap: 0.5rem;
    /*border: 1px solid red;*/
}
.search{
    /*border: 1px solid red;*/
    height: 2rem;
}
.vacancyCard {
    background-color: rgba(41, 43, 48, 0.85);
    border-radius: 28px;
    transition: all 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.1);
    padding: 0.5rem 1.2rem;
    /*transition: all 0.4s cubic-bezier(0.25, 0.1, 0.2, 1);*/
    cursor: pointer;
    /*position: relative;*/
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
}
.vacancyContent{
    height: 100%;
    width: 100%;
    /*border: 1px solid red;*/
}
.Wrapper, .details{
    /*border: 1px solid red;*/
    padding: 0.5rem 0;
}
.Wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
}
.profession {
    color: #dcdcdc;
    /*background: linear-gradient(135deg, #ff9a9e, #fad0c4, #a1e0d7);*/
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    /*color: transparent;*/
    font-size: 1rem;
    animation: shine 3s linear infinite;
    /*border: 1px solid red;*/
    /*padding: 0.5rem 0;*/
    padding-left: 1rem;
}

.salary{
    display: grid;
    align-items: center;
    /*padding: 0.5rem 0;*/
    color: #68FBD2FF;
    font-size: 1rem;
    padding-left: 1rem;
}
.divIcon{
    font-size: 1.7rem;
}
.WatchVacancy {
    background-color: rgba(122, 56, 38, 0.75);
    border: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s;
    padding: 0.4rem 0.6rem;
    border-radius: 0.7rem;

}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dateWrapper{
    display: grid;
    align-items: center;
    text-align: start;
}