/* VacancyContent.module.css */
/* Все переменные берутся из globals.css */

/* ========== ОВЕРЛЕЙ (ЗАТЕМНЁННЫЙ ФОН) ========== */
:local(.overlay) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    z-index: 999;
    overflow: hidden;
}

/* ========== ОСНОВНАЯ ПАНЕЛЬ ========== */
:local(.vacancyInfo) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    /*background: var(--bg-card);*/
    background: rgb(39, 42, 47);
    /*backdrop-filter: blur(20px);*/
    border-radius: 28px 28px 0 0;
    box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 85vh;
    /*border-top: 1px solid var(--border-color);*/
    overflow: hidden;
}