.main{
    background-color: #e0e0e0;
    width: 200px;
    height: 200px;
}
/* HomeGridClient.module.css */
:local(.Home) {
    /*position: fixed;*/
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: grid;
    /*grid-template-rows: auto 70%;*/

    border: 1px solid red;
    /*background: #000000;*/
    overflow: hidden;

    /*gap: 20px; !* Отступ между элементами (измените на свой вкус) *!*/
}
.Vidgets{
    /*border: 1px solid red;*/
    height: 100%;
    display: grid;
    gap: clamp(10.2px, 1vw, 78.4px);
    grid-template-columns: 1fr 1fr /* Сетка из двух равных колонок */
}
:local(.Top) {
    /*height: 100%;*/
    /*border-bottom: 1px solid var(--border-color);*/
    display: grid;
    justify-items: center;
    /*border: 1px solid red;*/
    /*gap: 5rem;*/
    /*padding-top: 2%;*/
    /*overflow: hidden;*/
}
.TopContent{
    /*height: 100%;*/
    width: 90%;
    /*border: 1px solid red;*/
    display: grid;
    gap: clamp(10.2px, 4vw, 78.4px);
    /*justify-items: center;*/
    /*grid-template-rows: 45% 55%;*/
    /*overflow: hidden;*/
    /*gap: 0.5rem;*/
}
/* Обёртка для кнопки темы - позиционируем в правом верхнем углу */
:local(.themeButtonWrapper) {
    /*position: fixed;*/
    /*top: 0.1rem;*/
    left: 1rem;
    z-index: 1000;
}

:local(.Services) {
    /*border: 1px solid red;*/
    height: 100%;
    width: 100%;
    display: grid;
    /*align-items: start;*/
    justify-items: center;
    /*border-radius: 1rem;*/
    overflow-y: scroll;
    /*overflow: hidden;*/
}

/*!* Адаптив для ёлочки на мобильных *!*/
/*@media (min-width: 640px) {*/
/*    :local(.Home) {*/
/*        width: 35%;*/
/*        border-radius: 3rem;*/
/*        padding: 1.5%;*/
/*    }*/
/*    :local(.HomeContent){*/
/*        width: 95%;*/
/*    }*/
/*    :local(.tree) {*/
/*        transform: scale(0.7);*/
/*        bottom: 10px;*/
/*        left: 10px;*/
/*    }*/
/*}*/
/*.Actions, .AI, .WidgetWaterBalance{*/
/*    border-radius: 15px;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    !*background: #4c4c4c;*!*/
/*    !*border: 1px solid red;*!*/
/*    color: white;*/
/*}*/
/*.WidgetWaterBalance{*/
/*    background-color: li;*/
/*}*/
