.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(1, minmax(0, 1fr));*/
    gap: 16px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    /*max-width: 600px;*/
    /*margin: 0 auto;*/
    border: 1px solid red;
}
.grid > div:first-child {
    grid-column: 1 / -1;
}

.cardNode {
    padding: 24px;
    background-color: #18181b;
    border-radius: 16px;
    border: 1px solid #27272a;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    color: #fff;
    box-sizing: border-box;
}
.vacancy{
    background-color: #1A9B7A;
}
.title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.desc {
    font-size: 14px;
    color: #a1a1aa;
    margin: 0;
}

.linkText {
    color: #3b82f6;
    font-size: 14px;
    font-weight: 500;
    align-self: flex-end;
}
