.rootBody{
    position: fixed;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 88% 12%;
    /*border: 2px solid blue;*/
    overflow: hidden;
    background-color: #2b2d30;
}
.mainContent, .Menu{
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*border: 1px solid red;*/
}