.Title{
    /*height: 10px;*/
    /*width: 100%;*/
    /*padding: 2% 5%;*/
    /*height: 5rem;*/
    /*grid-column: 1 / -1;*/
    /*padding-left: 3%;*/
    /*padding-top: 2%;*/
    /*padding-bottom: 0;*/
    /*padding: 2% 3%;*/
    /*border: 1px solid blue;*/
    /*display: grid;*/
    /*align-items: center;*/
    /*justify-items: center;*/
    /*overflow: hidden;*/
    /*user-select: none;*/
    /*-webkit-user-select: none; !* Chrome/Safari *!*/
    /*-moz-user-select: none; !* Firefox *!*/
    /*-ms-user-select: none; !* IE/Edge *!*/
    /*-webkit-user-drag: none;*/
    /*overflow: hidden;*/
}
.TitleContent{
    /*border: 1px solid red;*/
    /*width: 100%;*/
    height: 100%;
    margin-top: 2%;
    padding-left: 3%;
    display: grid;
    /*align-content: center;*/
    grid-template-columns: 1fr 1fr;
}
.Label{
    height: 100%;
    /*width: 100%;*/
    /*border: 1px solid blue;*/
    /*display: grid;*/
    /*grid-template-rows: 35% 65%;*/
    /*align-items: end;*/
    overflow: hidden;
}
.MountainImg{
    height:  clamp(10.2px, 7vw, 78.4px);
    /*width: 2rem;*/
    /*overflow: hidden;*/
    width: 60%;
    /*height: 100%;*/
    /*padding-left: 20%;*/
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*justify-items: end;*/
    /*align-items: start;*/
}

.Forest{
    /*width: clamp(10.2px, 16vw, 78.4px);*/
    /*height: 100%;*/

    background-image: url("/images/forest1.webp");
    /*background-position: right;*/
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;
    /*border: 1px solid red;*/
}
.iconImage{
    /*background-size: 10%;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*opacity: 40%;*/
}

.TitleCity {
    /*border: 1px solid blue;*/
    height: 100%;
    /*width: 60%;*/
    /*display: grid;*/
    /*align-items: center;*/
    font-family: var(--font-klab);
    font-size: clamp(10.2px, 8vw, 78.4px);
    line-height: clamp(10.2px, 5vw, 78.4px);
    font-weight: bold;
    color: #b8b8b8;
    /*text-align: end;*/
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    /*margin-bottom: 10px;*/
}
.Dobro{
    /*border: 1px solid red;*/
    font-family: var(--font-badScript);
    font-size: clamp(10.2px, 4vw, 78.4px);
    transform: rotate(-5deg);
    color: #FFFB7C;
    display: grid;
    align-content: center;
    text-align: center;
    line-height: 1.2;
}

/*!* ==========================================*/
/*   375px+ (iPhone 6/7/8, X, 11)*/
/*   ========================================== *!*/
/*@media (min-width: 375px) {*/
/*    .TitleCity {*/
/*        font-size: 3.2rem; !* Ваш текущий размер для iPhone 11 *!*/
/*    }*/
/*    .Dobro{*/
/*        font-size: 1.6rem; !* Ваш текущий размер для iPhone 11 *!*/
/*    }*/
/*}*/

/*!* ==========================================*/
/*   428px+ (iPhone 12/13/14 Plus, Pro Max)*/
/*   ========================================== *!*/
/*@media (min-width: 428px) {*/
/*    .TitleCity {*/
/*        font-size: 1.6rem; !* Ваш текущий размер для iPhone 11 *!*/
/*    }*/
/*}*/

/*!* ==========================================*/
/*   768px+ (Планшеты)*/
/*   ========================================== *!*/
/*@media (min-width: 768px) {*/
/*    .TitleCity {*/
/*        font-size: 1.6rem; !* Ваш текущий размер для iPhone 11 *!*/
/*    }*/
/*}*/

/*!* ==========================================*/
/*   1024px+ (Ноутбуки)*/
/*   ========================================== *!*/
/*@media (min-width: 1024px) {*/
/*    .TitleCity {*/
/*        font-size: 4.8rem;*/
/*    }*/
/*}*/

/*!* ==========================================*/
/*   1440px+ (Большие мониторы)*/
/*   ========================================== *!*/
/*@media (min-width: 1440px) {*/
/*    .TitleCity {*/
/*        font-size: 5.6rem;*/
/*    }*/
/*}*/
/*.SearchAll {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
/*}*/


/*!* Ствол *!*/
/*.trunk {*/
/*    width: 30px;*/
/*    height: 40px;*/
/*    background-color: #8d6e63;*/
/*    margin-top: -5px;*/
/*}*/