.Title{
    width: 100%;
    height: 6rem;
    grid-column: 1 / -1;
    /*padding: 3% 0;*/
    /*border: 1px solid red;*/
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    -webkit-user-drag: none;
}
.TitleContent{
    /*border: 1px solid red;*/
    width: 85%;
    height: 80%;
    display: grid;
    /*align-items: center;*/
    grid-template-columns: 45% 55%;
}
.Label{
    width: 100%;
    /*border: 1px solid red;*/
    display: grid;
    align-items: end;
    overflow: hidden;
}
.MountainImg{
    overflow: hidden;
    width: 70%;
    height: 100%;
    /*border: 1px solid red;*/
    display: grid;
    align-items: end;
}
.iconImage{
    width: 100%;
    /*opacity: 40%;*/
}

.TitleCity {
    /*border: 1px solid blue;*/
    height: 100%;
    display: grid;
    align-items: start;
    font-family: var(--klab);
    font-size: 1.9rem;
    font-weight: bold;
    color: #b8b8b8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /*margin-bottom: 10px;*/
}
.Dobro{
    /*border: 1px solid red;*/
    font-family: var(--badScript);
    font-size: 1rem;
    transform: rotate(-10deg);
    color: #FFFB7C;
    display: grid;
    align-content: center;
    text-align: center;
}

/*.SearchAll {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
/*}*/
.tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Верхний ярус */
.top {
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 1.5rem solid #4caf50;
    margin-top: -10px;
}

/* Средний ярус */
.middle {
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 1.5rem solid #4caf50;
    margin-top: -10px;
}

/* Нижний ярус */
.bottom {
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 1.5rem solid #4caf50;
    margin-top: -10px;
}

/*!* Ствол *!*/
/*.trunk {*/
/*    width: 30px;*/
/*    height: 40px;*/
/*    background-color: #8d6e63;*/
/*    margin-top: -5px;*/
/*}*/