.Title{
    height: 100%;
    width: 95%;
    /*height: 5rem;*/
    /*grid-column: 1 / -1;*/
    /*padding: 3% 0;*/
    /*border: 1px solid red;*/
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    /*user-select: none;*/
    /*-webkit-user-select: none; !* Chrome/Safari *!*/
    /*-moz-user-select: none; !* Firefox *!*/
    /*-ms-user-select: none; !* IE/Edge *!*/
    /*-webkit-user-drag: none;*/

}
.TitleContent{
    /*border: 1px solid red;*/
    width: 100%;
    height: 90%;
    display: grid;
    overflow: hidden;
    /*align-items: center;*/
    grid-template-columns: 1fr 1fr;
}
.Label{
    width: 100%;
    /*border: 1px solid red;*/
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: end;
    overflow: hidden;
}
.MountainImg{
    overflow: hidden;
    width: 7rem;
    height: 100%;
    /*border: 1px solid red;*/
    display: grid;
    justify-items: end;
    /*align-items: start;*/
}
.Forest{
    width: 100%;
    height: 100%;
    background-image: url("/images/forest1.webp");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;
    /*border: 1px solid red;*/
}
.iconImage{
    /*background-size: 10%;*/
    width: 100%;
    opacity: 40%;
}

.TitleCity {
    /*border: 1px solid blue;*/
    height: 100%;
    display: grid;
    align-items: center;
    font-family: var(--font-klab);
    font-size: 2.1rem;
    line-height: 0;
    font-weight: bold;
    color: #b8b8b8;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    /*margin-bottom: 10px;*/
}
.Dobro{
    /*border: 1px solid red;*/
    font-family: var(--font-badScript);
    font-size: 1rem;
    transform: rotate(-10deg);
    color: #FFFB7C;
    display: grid;
    align-content: center;
    text-align: center;
    line-height: 1.2;
}

/*.SearchAll {*/
/*    font-size: 24px;*/
/*    color: white;*/
/*    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);*/
/*}*/


/*!* Ствол *!*/
/*.trunk {*/
/*    width: 30px;*/
/*    height: 40px;*/
/*    background-color: #8d6e63;*/
/*    margin-top: -5px;*/
/*}*/