.Job{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #69FFD5, #B1FFE9);
    overflow: hidden;
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-items: center;
}
.Content{
    width: 90%;
    height: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.Left {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 100%;
    justify-items: start;
    /*border: 1px solid red;*/
    overflow: hidden;
}
.Title {
    width: 100%;
    font-size: 1rem;
    line-height: 0;
    font-family: Forum;
    font-weight: bold;
    color: #348770;
    /*padding-left: 3%;*/
    /*border: 1px solid red;*/
    overflow: hidden;
    display: grid;
    align-items: center;
}
.SearchJob {
    width: 100%;
    display: grid;
    background: #6efbd4;
    border-radius: 0.7rem;
    color: #378f72;
    font-family: var(--font-montserrat);
    align-items: center;
    justify-items: center;
    font-size: 1rem;
}
.Right {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: end;
    overflow: hidden;
}
.WorkImg {
    width: 50%;
    overflow: hidden;
    display: grid;
}